body {
    /* background-color: white; */
}

.navbar {
    background-color: white;
    height: 80px;
    width: auto;
    /* margin-left: 0;
    margin-right: 0; */
}

.mainbody {
    /* background-color: blue; */
    /* height: fit-content; */
}

.footer {
    background-color: darkgray;
    height: 50px;
    text-align: center;
    /* border-color: lightseagreen;
    border-top: lightseagreen;
    border-top-width: 50px; */
    /* position: relative; */
    /* bottom: 100%; */
}

.box-set {
    position: relative;
    background: #e9e9e6;
    height: 500px;
}

.box {
    /* Absolute Position */
    position: absolute;
    /* background-color: lime; */

}
/* Box Rules to position them */
.box-1 {
    background-color: white;
    top: 50px;
    bottom: 50px;
    left: 5%;
    right: 35%;
}

.box-2 {
    background-color: white;
    top: 50px;
    bottom: 50px;
    left: 70%;
    right: 5%;
}
