body {
    background-color: lightgray;
}

footer {
    color: white;
    background-color: dimgray;
    height: 80px;
    padding: 25px;
    text-align: center;
}

.navbar {
    padding: 10px;
    background-color: white;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    background-color: white;
    color: black;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}

.header h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.box-set {
    position: relative;
    background: white;
}

.box {
    /* Absolute Position */
    position: absolute;

}
/* Box Rules to position them */
.box-1 {
    top: 20px;
    left: 10px;
    right: 10px;
}

.container {
    background-color: white;
}

#main-left,
#figure {
    float: left;
}

#main-left,
#vis-right {
    padding: 20px;
}

#figure {
    position: relative;
}

#titlebox {
    background-color: white;
    padding-left: 100px;
    color: white;
    cursor: pointer;
}

#titlealone{
    background-color: lightseagreen;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    cursor: pointer;
}

#navlinks {
    text-align: right;
}
